@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root{
    --headingfont: "Bungee Inline";
    --paragraphfont: 'Galindo', sans-serif;
}

.autumn {
    --color1: #4F5D2F;
    --color2: #EF2917;
    --color3: #DDA448;
    --color4: #632B30;
    background-color: var(--color4);
}
.winter {
    --color1: #B1F8F2;
    --color2: #87919E;
    --color3: #28464B;
    --color4: #EAFDCF;    
    background-color: var(--color4);
}
.summer {
    --color1: #D6FF79;
    --color2: #75DDDD;
    --color3: #FF8C42;
    --color4: #1C77C3;
    background-color: var(--color4);
}
.spring {
    --color1: #CAA8F5;
    --color2: #231123;
    --color3: #B0228C;
    --color4: #FCA17D;
    background-color: var(--color4);
}

header{
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 1fr;
}

.navagation{
    background-color: var(--color2);
    display: grid;
    grid-template-columns: 20%;
}

.logo{
    grid-column: 1/5;
    width: 10%;
    padding-top: 10px;
    padding-left: 50px;
}

.navlink{
    justify-content: center;
    justify-self: center;
    grid-column: 2/5;
    display: grid;
    padding-bottom: 20px;
}

main{
    justify-content: center;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 300px;
    padding: 10px;
}

.hero{
    grid-row: 1/4;
    grid-column: 1/4;
    justify-self: center;
}

.text{
    grid-row: 2/4;
    grid-column: 1/4;
    padding: 10px;
}


.timeline-button{
    justify-self: center;
    background-color: var(--color2);
    color: var(--color3);
    width: 70px;
    height:30px;
}

.characters-button{
    background-color: var(--color2);
    width: 70px;
    justify-self: center;
    height:30px;
}

.timeline-button a{
    color: var(--color1);
}

.characters-button a{
    color: var(--color1);
}

.timeline-button:hover{
    background-color: var(--color3);
} 

.characters-button:hover{
    background-color: var(--color3);
} 

h1 {
    color: var(--color3);
    font-family: var(--headingfont);
}

p {
    color: var(--color2);
    font-family: var(--paragraphfont);
}

@media screen and (max-width: 769px){
    .timeline-button{
    grid-row: 3/4;
    grid-column: 1/4;
    }
    .characters-button{
    grid-row: 4/4;
    grid-column: 1/4;
    }
}

@media screen and (min-width: 769px){
    .timeline-button{
    grid-row: 3/4;
    grid-column: 2/4;
    }
    .characters-button{
    grid-row: 3/4;
    grid-column: 1/4;
    }
}