
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');


:root {
    --maincolor: #350098;
    --othermaincolor: #002057;
    --accentcolor: #ffe7e7;
    --bgcolor: #e9bcb5;
    color: var(--othermaincolor);
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    --font:'Alumni Sans Pinstripe', sans-serif;
  }  


body {
	font-family: var(--font)
}

main {
	margin: 0 auto;
    max-width: fit-content;
}

footer{
    margin-top: 100;
    color: var(--maincolor);
}




header {
	background-color: var(--accentcolor);
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid var(--othermaincolor)(0, 0, 0, 0.1);
}

header,
main {
	margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
}
nav {
	background-color: var(--bgcolor);
    text-decoration:
	margin: 0 auto;
	max-height: 800px;
    display: grid;
    columns: 4;
    margin-bottom: 1rem;
}

section{
    display: grid;
}


.card1 {
	background-color: var(--accentcolor);
    grid-column: 1/3 ;
    border: 3px solid var(--bgcolor);
}

.card2 {
    background-color: var(--accentcolor);
    grid-column: 1/2;
    border: 3px solid var(--bgcolor);
}

.resourses {
    background-color: var(--accentcolor);
    grid-column:  2/3;
    border: 3px solid var(--bgcolor);
    text-align: center;
    text-size-adjust: 14px;
    color: var(--maincolor);
}
          

nav a {
	display: grid;
	color: var(--othermaincolor)
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    grid-column: auto;
    grid-row: 1;
}

.usflag {
    width: 30%;
    height: 30%;
}

nav a:hover {
	text-decoration:overline;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
