:root{
    background-color: rgb(1, 65, 10);
    color: #94ffab;
}

.review fieldset{
    margin: 2rem 0;
    border: 1px solid #c9c9c9;
    padding: .5rem 2%;
}


.review legend {
    color: rgb(0, 255, 242);
    padding: 0 .5rem;
}

.review label{
    display: block;
    padding-top: 1rem;
    color: rgb(255, 217, 0);
    font-size: .9;
}

.review input[type="text"]{
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #999;
}

textarea{
    display: block;
    border: solid 1px #999;
    padding: .75rem;
    color: #999;
}